.vscode

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Файлы, которые могут оказаться в корне
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Директории, которые потенциально могут быть созданы удалённой точке AFP
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# iCloud временные, сгенерированные облаком 
*.icloud